@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    color: #9f9f9f;
}

.container-fluid {
    padding-left: 38px !important;
    padding-right: 38px !important;
}

.f-grow-1 {
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding-left: 4vw !important;
        padding-right: 4vw !important;
    }
}

/* ------------- hero -------------------  */
.hero{
    /* width: 140%; */
    background-color: #000;
    z-index: 2;
    max-height: 140vh;
    overflow: hidden;
    /* overflow-y: scroll; */
}
.container-full{
    width: 120%;
    /* position: relative; */
    /* left: -20%; */

}
.hero-grid-img{
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
}


/* ----------------------- Startegy ----------------  */
.startegic {
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.startegic h2 {
    letter-spacing: -.6vw;
    font-size: 7.8vw;
    font-weight: normal;
}

.startegic h2 span {
    color: #000;
    margin-left: 100px;
}

.startegic .sub-caption {
    letter-spacing: -.09vw;
    font-size: 1.5vw;
    opacity: .7;
}

.startegic .book-a-demo-btn {
    width: 157px;
    height: 58px;
    border-radius: 50px;
    border: 0;
    margin-left: 10px;
    font-size: 1em;
}

.startegic .book-a-demo-btn.black {
    color: #fff;
    background-color: #000;
}

.btns-wrap {
    display: flex;
    justify-content: end;
    margin-bottom: 24px;
}

@media screen and (max-width:1024px) {
    .startegic .book-a-demo-btn {
        width: 128px;
        height: 48px;
        font-size: 1vw;
    }
}

@media screen and (max-width:768px) {
    .startegic h2 {
        letter-spacing: -.175rem;
        font-size: 2.5rem;
        line-height: 1.33;
        font-weight: normal;
    }

    .startegic h2 span {
        color: #000;
        margin-left: 50px;
    }

    .startegic .sub-caption {
        font-size: 1em;
        letter-spacing: -1px;
    }

    .btns-wrap {
        justify-content: space-between;
    }

    .startegic h2 span {
        margin-left: 0;
    }

    .startegic .book-a-demo-btn {
        width: 157px;
        height: 58px;
        font-size: 1em;
    }
}

/* ------------------- Clients --------------------  */
.clients {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

}

.clients img {
    max-height: 35px;
}

.clients .col-12 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .clients img {
        max-height: 25px;
    }
}

/* -------------------- Outcomes -----------------  */
.outcomes {
    position: relative;

    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #fff;
}

.outcomes h2 {
    font-weight: 400;
    color: #000;
    letter-spacing: -.6vw;
    font-size: 7vw;
}

.outcomes .roller {
    font-size: 4vw;
    font-weight: 500;
    width: 7vw;
    height: 7vw;
    display: inline-block;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outcomes .roller span {
    position: relative;
    top: 10px;
}

.card-wrapper {
    max-height: 400px;
    overflow: scroll;
    padding-top: 20%;
}


/* Customize the appearance of the scrollbar for WebKit browsers */
.card-wrapper::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

.card-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Set the color of the scrollbar thumb to transparent */
}

.card-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the color of the scrollbar track to transparent */
}

.outcomes .card-wrapper .card h3 {
    font-weight: normal;
    color: #000;
    letter-spacing: -.2vw;
    font-size: 2.5vw;
}

.outcomes .card-wrapper .card p {
    letter-spacing: -.08rem;
    font-size: 1.5rem;
    line-height: 1.66;
}

@media screen and (max-width:1024px) {
    .outcomes h2 {
        letter-spacing: -.55rem;
        font-size: 7rem;
        line-height: 1.15;
    }

    .outcomes .card-wrapper .card h3 {
        letter-spacing: -.2rem;
        font-size: 2.5rem;
        line-height: 1;
    }

    .outcomes .card-wrapper .card p {
        letter-spacing: -.08rem;
        font-size: 1.5rem;
        line-height: 1.66;
    }

    .outcomes .roller {
        font-size: 5vw;
        width: 7vw;
        height: 7vw;
    }

    .outcomes .roller span {
        top: 8px;
    }
}

@media screen and (max-width:768px) {
    .card-wrapper {
        padding-top: 5%;
    }

    .outcomes h2 {
        letter-spacing: -.15rem;
        font-size: 2.5rem;
    }

    .outcomes .card-wrapper .card h3 {
        letter-spacing: -.15rem;
        font-size: 2rem;
    }

    .outcomes .card-wrapper .card p {
        letter-spacing: -.06rem;
        font-size: 1.2rem;
        line-height: 1.66;
    }

    .outcomes .roller {
        font-size: 10vw;
        width: 14vw;
        height: 14vw;
    }
}

/* ---------------- Summary A --------------- */

.summary-a {
    background-color: #fff;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.summary-a h3 {
    opacity: 0.5;
    font-weight: normal;
    letter-spacing: -.2vw;
    font-size: 2.5vw;
}

.summary-a h2 {
    font-size: 7.8vw;
    font-weight: 400;
    letter-spacing: -0.4vw;
    color: #000;
}

@media screen and (max-width:1024px) {
    .summary-a h3 {
        letter-spacing: -.2rem;
        font-size: 2.5rem;
    }

    .summary-a h2 {
        letter-spacing: -.55rem;
        font-size: 6rem;
        line-height: 1.4;
    }
}

@media screen and (max-width:768px) {

    .summary-a h2 {
        letter-spacing: -.175rem;
        font-size: 2.5rem;
        line-height: 1.33;
    }

    .summary-a h3 {
        opacity: 0.5;
        font-weight: normal;
        letter-spacing: -.15rem;
        font-size: 2rem;
    }
}

/* ---------------- Summary B --------------- */

.categories {
    padding-top: 100px;
    padding-bottom: 100px;
}



.categories .title {
    letter-spacing: -.6vw;
    font-size: 7.8vw;
    color: #000;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 150px;
    font-weight: 400;
}

.categories .categoy h2 {
    letter-spacing: -.4vw;
    font-size: 5vw;
}

.categories .categoy h2 {
    letter-spacing: -.4vw;
    font-size: 5vw;
    color: #000;
    font-weight: normal;
    margin-top: 0;
}

.categories .categoy .book-a-demo-btn {
    border-radius: 999px;
    border: 0;
    background-color: #e1e1e1;
    margin-right: auto;
    position: relative;
    top: 48px;
    height: 3.8vw;
    width: 10vw;
    padding: 0.5rem 1.5rem;
    font-size: 1vw;
}

.categories .categoy h3 {
    letter-spacing: -.2vw;
    font-size: 2.5vw;
    font-weight: normal;
    color: #000;
}

.categories .categoy ul {
    list-style-type: none;
    padding: 0;

    letter-spacing: -.08rem;
    font-size: 1.5rem;
    line-height: 1.66;
}

.categories .categoy li {
    margin-bottom: 8px;
}

@media screen and (max-width:1024px) {
    .categories .title {
        letter-spacing: -.55rem;
        font-size: 6rem;
        line-height: 1.4;
    }

    .categories .categoy h2 {
        letter-spacing: -.4rem;
        font-size: 5rem;
    }

    .categories .categoy h3 {
        letter-spacing: -.2rem;
        font-size: 2.5rem;
        line-height: 1;
    }
}

@media screen and (max-width:768px) {
    .categories .title {
        letter-spacing: -.175rem;
        font-size: 2.5rem;
        line-height: 1.33;
    }

    .categories .categoy h2 {
        letter-spacing: -.2rem;
        font-size: 2.5rem;
    }

    .categories .categoy .book-a-demo-btn {
        min-width: 123px;
        min-height: 58px;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: 0;
        font-size: 1rem;
        padding: 0;
    }

    .categories .categoy h3 {
        letter-spacing: -.15rem;
        font-size: 2rem;
    }

    .categories .categoy ul {
        letter-spacing: -.06rem;
        font-size: 1.2rem;
    }
}

/* ---------------- Summary C --------------- */

/* ----------------- Our Work -----------------------  */
.our-work {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.our-work h2 {
    font-size: 100px;
}

.our-work .book-a-demo-btn {
    padding: 13px;
    width: 140px;
    border-radius: 50px;
    outline: 0;
}

@media screen and (max-width:520px) {
    .our-work h2 {
        font-size: 50px;
    }
}

/* ------------------- Pricing -------------  */
.pricing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pricing h3 {
    font-weight: normal;
    text-align: center;
}

.pricing-left {
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-left h2 {
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: -2.2vw;
    font-size: 18vw;
    font-weight: normal;
}

.pricing-left p {
    letter-spacing: -.2vw;
    font-size: 2.5vw;
    margin-top: 0;
    position: relative;
    top: -50px;
    color: rgba(239, 57, 57, 0.519);
}

.pricing-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pricing-right h4 {
    color: #000;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: normal;
}

.pricing-right p {
    max-width: 50%;
    font-size: 18px;
    line-height: 24px;
}

.pricing .book-a-demo-btn {
    background-color: #000;
    color: #fff;
    padding: 15px;
    width: 140px;
    border-radius: 50px;
    margin-bottom: 100px;
    outline: 0;
}

@media screen and (max-width:1024px) {
    .pricing {
        min-height: auto;
    }

    .pricing-left h2 {
        margin-bottom: 100px;
    }

    .pricing-left h2 {
        font-size: 120px;
        text-align: left;
    }

    .pricing-left p {
        top: -130px;
        letter-spacing: -.2vw;
        font-size: 2.5vw;
    }

    .pricing-right h4 {
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 24px;
        font-size: 20px;
    }

    .pricing-right p {
        max-width: 100%;
        font-size: 16px;
        line-height: 20px;
    }


}

@media screen and (max-width:520px) {

    .pricing-left h2 {
        letter-spacing: -.7rem;
        font-size: 5.5rem;
        margin-bottom: 0;
    }

    .pricing-left p {
        letter-spacing: -.1rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        top: -40px;
        text-align: right;
    }

    .pricing-right h4 {
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 24px;
        font-size: 20px;
    }

}

/* -------------------------- Choose from ---------------------  */
.choose-from {
    padding-bottom: 5%;
}

.choose-from h3 {
    font-weight: normal;
    color: #000;
    letter-spacing: -.06rem;
    font-size: 1.5vw;
}

.choose-from-list-wrap {
    padding-top: 16px;
    padding-bottom: 16px;
}

.choose-from ul {
    list-style-type: none;
    padding: 0;
    line-height: 28px;
    margin: 0;
    letter-spacing: -.0625rem;
    font-size: 1.125rem;
}

.choose-from ul li {
    margin-bottom: 20px;
}

@media screen and (max-width:1024px) {
    .choose-from h3 {
        font-size: 1.2rem;
    }
}


/* -------------------------- Try us ---------------------  */
.try-us {
    background-color: #000;
    padding-top: 10%;
    color: #e1e1e1;
    min-height: 100vh;
    text-align: center;
}

.try-us .title {
    margin-bottom: 20px;
    letter-spacing: -.6vw;
    font-size: 7vw;
    font-weight: normal;
    color: #c6c9cc;
}

.para-wrap {
    display: flex;
    justify-content: center;
}

.try-us .para {
    color: rgba(198, 201, 204, 0.8);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.28px;
    line-height: 39.84px;
    max-width: 576px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-bottom: 30px;
}

.try-us .book-a-demo-btn {
    width: 153px;
    height: 58.36px;
    border: 0;
    border-radius: 999px;
    margin-bottom: 100px;
    font-size: 15px;
    margin-bottom: 10px;
}

.copyright {
    letter-spacing: -.05vw;
    font-size: .875vw;
    color: rgba(198, 201, 204, .8);
    position: relative;
    bottom: -50px;
}

@media screen and (max-width:1024px) {
    .try-us {
        min-height: auto;
        padding-bottom: 10%;
    }

    .copyright {
        bottom: -80px;
    }
}

@media screen and (max-width:768px) {

    .try-us {
        padding-bottom: unset;
    }

    .try-us .title {
        font-size: 40px;
    }

    .try-us .para {
        max-width: unset;
        font-size: 16px;
    }

    .try-us .book-a-demo-btn {
        margin-bottom: 70px;
    }

    .copyright {
        letter-spacing: -.5px;
        font-size: .875rem;
        bottom: 0;
    }
}

@media screen and (max-width:520px) {
    .try-us .title {
        font-size: 40px;
    }

    .try-us .para {
        font-size: 19px;
        letter-spacing: -0.96px;
        line-height: 31.872px;
    }

    .try-us .book-a-demo-btn {
        width: 129px;
    }

    .copyright {
        bottom: 0px;
    }
}